@media all and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
    box-sizing: border-box;
  }
  .baner-img {
    height: 40.6rem;
  }
  .baner-img-overley {
    left: 6rem;
  }
  .video-tittle h2 {
    max-width: 54.8rem;
    padding-right: 1rem;
  }
  .video-content p {
    padding: 3rem 0;
  }
  .contact-aria h2 {
    max-width: 57.6rem;
    font-size: 4.6rem;
  }
}
@media all and (min-width: 990px){
  .menu ul{
    display: flex !important;
  }
}
@media all and (max-width: 990px) {
  .menu ul {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background: #1F1F2F;
    text-align: center;
    padding: 1rem 0;
    top: 100px;
    display: none;
  }
  .menu ul li{
    padding: 1rem 0;
  }
  .header-right a {
    display: none;
  }
  .header-right .menu-bers {
    display: block;
  }
  .baner-aria {
    flex-direction: column;
  }
  .baner-img {
    width: 100%;
    margin: auto;
  }
  .video-content {
    margin: auto;
  }
  .video-head {
    flex-direction: column;
  }
  .service-tittle h2 {
    max-width: 57.5rem;
  }
  .portfollio {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
  .portfollio-single-item:nth-child(2) {
    margin-top: 0;
  }
  .portfollio-single-item:nth-child(3) {
    grid-column: span 2;
    margin: 0 auto;
  }
  .portfollio-tittle img {
    top: 45px;
  }
  .contact-aria {
    flex-direction: column;
  }
  .shape img:nth-child(2) {
    top: 3rem;
    right: 41px;
  }
  .shape img:nth-child(1) {
    bottom: 0rem;
    left: 5rem;
  }
  .contact-aria h2 {
    padding-bottom: 2rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-middle ul {
    padding: 2rem 0;
  }
}
@media all and (max-width: 767px) {
  h2 {
    font-size: 4rem;
  }
  .section-pd {
    padding: 50px 0;
  }
  .baner-content h1 {
    font-size: 7rem;
  }
  .service-tittle h2 {
    max-width: 45.5rem;
  }
  .service-single-item h3 {
    font-size: 2.5rem;
  }
  .service-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 576px) {
  .baner-content h1 {
    font-size: 4.2rem;
    max-width: 32.7rem;
  }
  .baner-img {
    padding-top: 5rem;
  }
  .baner-img-overley {
    top: 13rem;
    height: 30rem;
  }
  .video-tittle h2 {
    max-width: 38rem;
    font-size: 3.6rem;
  }
  .video-content p {
    padding: 3rem 0;
    max-width: 43rem;
  }
  .video-img {
    height: 22.4rem;
    padding-top: 0;
  }
  .video-img a {
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    transform: translate(-50%, -50%);
  }
  .service-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-tittle h2 {
    max-width: 39.5rem;
    font-size: 3.6rem;
  }
  .tittle-shape img:first-child {
    top: -8rem;
  }
  .tittle-shape img:last-child {
    top: 11rem;
  }
  .portfollio-tittle h2 {
    max-width: 36.2rem;
  }
  .portfollio-tittle img {
    top: 10rem;
  }
  .portfollio-single-item {
    margin: auto;
  }
  .portfollio {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfollio-single-item:nth-child(3) {
    grid-column: span 1;
  }
  .contact-btn {
    align-self: flex-start;
    padding-bottom: 3rem;
  }
  .footer-middle ul {
    flex-direction: column;
  }
  .footer-middle ul li a {
    margin: 2rem 2rem;
    display: inline-block;
  }
}
@media all and (max-width: 480px) {
  .tittle-shape img:first-child {
    top: -10rem;
  }
  .tittle-shape img:last-child {
    top: 13rem;
  }
  .baner-img {
    height: 33.6rem;
  }

  .baner-img-overley {
    top: 13rem;
    height: 24rem;
    left: 6rem;
  }
  .contact-aria h2 {
    max-width: 26.6rem;
    font-size: 3.6rem;
    line-height: 5rem;
  }
}
@media all and (max-width: 400px) {
  .baner-img {
    height: 25.6rem;
  }
  .baner-img-overley {
    top: 10rem;
    height: 17rem;
    left: 4rem;
  }
  .service-tittle h2 {
    font-size: 2.6rem;
  }
  .portfollio-tittle h2 {
    font-size: 3.6rem;
  }
}
